body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u5 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:-20px;
  top:975px;
  width:1276px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:15px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:80px;
  top:161px;
  width:403px;
  height:357px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:357px;
}
#u10 {
  position:absolute;
  left:2px;
  top:170px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:106px;
  top:544px;
  width:102px;
  height:30px;
  color:#AEAEAE;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:106px;
  top:578px;
  width:204px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:106px;
  top:602px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:106px;
  top:624px;
  width:210px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:500px;
  top:120px;
  width:710px;
  height:570px;
}
#u19_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:720px;
  height:580px;
}
#u20 {
  position:absolute;
  left:2px;
  top:277px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:928px;
  top:463px;
  width:142px;
  height:27px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:576px;
  top:449px;
  width:130px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:530px;
  top:335px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:894px;
  top:467px;
  width:23px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:542px;
  top:467px;
  width:23px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:98px;
  top:527px;
  width:362px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:345px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:362px;
  height:1px;
}
#u32 {
  position:absolute;
  left:910px;
  top:220px;
  width:103px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:99px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1018px;
  top:222px;
  width:39px;
  height:14px;
  font-size:14px;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:1136px;
  top:222px;
  width:39px;
  height:14px;
  font-size:14px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:542px;
  top:387px;
  width:118px;
  height:18px;
  font-size:16px;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:476px;
  top:278px;
  width:28px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:784px;
  top:222px;
  width:65px;
  height:16px;
  font-size:14px;
  color:#F52A4E;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:659px;
  top:215px;
  width:125px;
  height:30px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F52A4E;
  text-align:left;
}
#u45 {
  position:absolute;
  left:530px;
  top:220px;
  width:91px;
  height:19px;
  font-size:18px;
  color:#F52A4E;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:549px;
  top:256px;
  width:49px;
  height:12px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:520px;
  top:544px;
  width:680px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u50 {
  position:absolute;
  left:609px;
  top:580px;
  width:375px;
  height:14px;
  font-size:14px;
  color:#888888;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:970px;
  top:580px;
  width:120px;
  height:14px;
  font-size:14px;
  text-decoration:underline;
  color:#4277A8;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:875px;
  top:613px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:701px;
  top:613px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#F52A4E;
  line-height:18px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:530px;
  top:153px;
  width:250px;
  height:25px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:530px;
  top:307px;
  width:650px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u62 {
  position:absolute;
  left:861px;
  top:200px;
  width:10px;
  height:103px;
}
#u62_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u62_end {
  position:absolute;
  left:-5px;
  top:86px;
  width:20px;
  height:18px;
}
#u62_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:103px;
}
#u63 {
  position:absolute;
  left:861px;
  top:439px;
  width:10px;
  height:79px;
}
#u63_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u63_end {
  position:absolute;
  left:-5px;
  top:62px;
  width:20px;
  height:18px;
}
#u63_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:79px;
}
#u64 {
  position:absolute;
  left:768px;
  top:465px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:750px;
  top:463px;
  width:14px;
  height:14px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1120px;
  top:464px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1102px;
  top:462px;
  width:14px;
  height:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:928px;
  top:256px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:910px;
  top:254px;
  width:14px;
  height:14px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:620px;
  top:222px;
  width:30px;
  height:16px;
  font-size:14px;
  color:#F52A4E;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:530px;
  top:254px;
  width:14px;
  height:14px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:79px;
  top:73px;
  width:53px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:63px;
  top:74px;
  width:10px;
  height:12px;
}
#u87_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u87_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u87_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u88 {
  position:absolute;
  left:153px;
  top:73px;
  width:79px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:138px;
  top:74px;
  width:10px;
  height:12px;
}
#u90_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u90_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u90_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u91 {
  position:absolute;
  left:990px;
  top:20px;
  width:21px;
  height:19px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1018px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:919px;
  top:18px;
  width:22px;
  height:25px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u96 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:890px;
  top:10px;
  width:10px;
  height:40px;
}
#u97_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u97_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u97_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u98 {
  position:absolute;
  left:932px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u99 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:970px;
  top:10px;
  width:10px;
  height:40px;
}
#u100_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u100_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u100_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u101 {
  position:absolute;
  left:1136px;
  top:20px;
  width:57px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:1203px;
  top:20px;
  width:57px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:underline;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:1115px;
  top:10px;
  width:10px;
  height:40px;
}
#u105_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u105_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u105_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
