body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-1px;
  top:550px;
  width:1241px;
  height:168px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:168px;
}
#u1 {
  position:absolute;
  left:2px;
  top:76px;
  width:1237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:106px;
  top:654px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:284px;
  top:571px;
  width:10px;
  height:124px;
}
#u4_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u4_end {
  position:absolute;
  left:-5px;
  top:107px;
  width:20px;
  height:18px;
}
#u4_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:124px;
}
#u5 {
  position:absolute;
  left:602px;
  top:571px;
  width:10px;
  height:124px;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:107px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:124px;
}
#u6 {
  position:absolute;
  left:917px;
  top:571px;
  width:10px;
  height:124px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:107px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:124px;
}
#u7 {
  position:absolute;
  left:20px;
  top:545px;
  width:1220px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u8 {
  position:absolute;
  left:20px;
  top:711px;
  width:1220px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1203px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1220px;
  height:1px;
}
#u9 {
  position:absolute;
  left:635px;
  top:654px;
  width:66px;
  height:32px;
  color:#4277A8;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:946px;
  top:654px;
  width:66px;
  height:32px;
  color:#4277A8;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:316px;
  top:654px;
  width:66px;
  height:32px;
  color:#4277A8;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:30px;
  top:654px;
  width:66px;
  height:32px;
  color:#4277A8;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:186px;
  top:663px;
  width:14px;
  height:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:949px;
  top:577px;
  width:34px;
  height:34px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u20 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:637px;
  top:577px;
  width:38px;
  height:38px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u22 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:316px;
  top:580px;
  width:142px;
  height:27px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:30px;
  top:571px;
  width:130px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u28 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u32 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:93px;
  top:73px;
  width:117px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:13px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:956px;
  top:60px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u36_img.mouseOver {
}
#u36.mouseOver {
}
#u37 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1107px;
  top:60px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u39 {
  position:absolute;
  left:0px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:73px;
  top:74px;
  width:10px;
  height:12px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u43 {
  position:absolute;
  left:1236px;
  top:72px;
  width:14px;
  height:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1082px;
  top:72px;
  width:14px;
  height:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:64px;
  top:111px;
  width:371px;
  height:329px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:329px;
}
#u48 {
  position:absolute;
  left:2px;
  top:156px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:558px;
  top:121px;
  width:98px;
  height:15px;
  color:#4277A8;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:525px;
  top:117px;
  width:10px;
  height:401px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:384px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:401px;
}
#u52 {
  position:absolute;
  left:558px;
  top:139px;
  width:204px;
  height:21px;
  font-size:18px;
  color:#000000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:558px;
  top:165px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:558px;
  top:199px;
  width:210px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:558px;
  top:216px;
  width:322px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u59 {
  position:absolute;
  left:558px;
  top:324px;
  width:322px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u60 {
  position:absolute;
  left:558px;
  top:240px;
  width:228px;
  height:15px;
  color:#4277A8;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:558px;
  top:258px;
  width:152px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:558px;
  top:281px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:558px;
  top:307px;
  width:68px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:554px;
  top:344px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#5D9BEC;
  line-height:24px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u69 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:637px;
  top:344px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#5D9BEC;
  line-height:24px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u71 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:556px;
  top:463px;
  width:165px;
  height:42px;
  font-size:12px;
  color:#999999;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:900px;
  top:117px;
  width:10px;
  height:401px;
}
#u74_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u74_end {
  position:absolute;
  left:-5px;
  top:384px;
  width:20px;
  height:18px;
}
#u74_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:401px;
}
#u75 {
  position:absolute;
  left:925px;
  top:125px;
  width:310px;
  height:243px;
  font-size:14px;
  color:#999999;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:243px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:917px;
  top:428px;
  width:253px;
  height:48px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:48px;
}
#u78 {
  position:absolute;
  left:2px;
  top:16px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:925px;
  top:482px;
  width:292px;
  height:29px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:230px;
  top:464px;
  width:112px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:10px;
  top:11px;
  width:100px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:64px;
  top:467px;
  width:156px;
  height:32px;
  color:#F52A4E;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:324px;
  top:476px;
  width:14px;
  height:14px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u85 {
  position:absolute;
  left:0px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1px;
  top:719px;
  width:1280px;
  height:896px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:896px;
}
#u87 {
  position:absolute;
  left:2px;
  top:440px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:347px;
  top:464px;
  width:137px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
  line-height:18px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u88_img.mouseOver {
}
#u88.mouseOver {
}
#u89 {
  position:absolute;
  left:10px;
  top:11px;
  width:125px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:463px;
  top:476px;
  width:14px;
  height:14px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u91 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:-20px;
  top:1590px;
  width:1276px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:15px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1129px;
  top:20px;
  width:21px;
  height:19px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:1157px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u98_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u98_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u98_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u99 {
  position:absolute;
  left:1072px;
  top:18px;
  width:22px;
  height:25px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1043px;
  top:10px;
  width:10px;
  height:40px;
}
#u101_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u101_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u101_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u102 {
  position:absolute;
  left:1085px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u103 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:385px;
  top:654px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u104_img.mouseOver {
}
#u104.mouseOver {
}
#u105 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:465px;
  top:663px;
  width:14px;
  height:14px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u107 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:706px;
  top:654px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u108_img.mouseOver {
}
#u108.mouseOver {
}
#u109 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:786px;
  top:663px;
  width:14px;
  height:14px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:1017px;
  top:654px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u112_img.mouseOver {
}
#u112.mouseOver {
}
#u113 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:1097px;
  top:663px;
  width:14px;
  height:14px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u115 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
