body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:189px;
  width:1260px;
  height:941px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:941px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:378px;
  top:4px;
  width:434px;
  height:895px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:895px;
}
#u2 {
  position:absolute;
  left:2px;
  top:440px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:790px;
  top:115px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:428px;
  top:145px;
  width:330px;
  height:611px;
  font-size:16px;
  line-height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:611px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:941px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:386px;
  top:-150px;
  width:434px;
  height:895px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:895px;
}
#u8 {
  position:absolute;
  left:2px;
  top:440px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:308px;
  top:128px;
  width:600px;
  height:350px;
  font-size:16px;
  line-height:24px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:350px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:941px;
  top:108px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:941px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:178px;
  top:2px;
  width:871px;
  height:1234px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:1234px;
}
#u14 {
  position:absolute;
  left:2px;
  top:609px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:402px;
  top:114px;
  width:416px;
  height:736px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:736px;
}
#u16 {
  position:absolute;
  left:2px;
  top:360px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1000px;
  top:115px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:280px;
  top:160px;
  width:650px;
  height:680px;
  font-size:16px;
  line-height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:680px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:941px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:198px;
  top:-152px;
  width:871px;
  height:1234px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:1234px;
}
#u22 {
  position:absolute;
  left:2px;
  top:609px;
  width:867px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:402px;
  top:114px;
  width:416px;
  height:736px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:736px;
}
#u24 {
  position:absolute;
  left:2px;
  top:360px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1150px;
  top:90px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:184px;
  top:160px;
  width:900px;
  height:680px;
  font-size:16px;
  line-height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:680px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:941px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:219px;
  top:67px;
  width:801px;
  height:1283px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:1283px;
}
#u30 {
  position:absolute;
  left:2px;
  top:634px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1060px;
  top:67px;
  width:80px;
  height:80px;
  font-size:14px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:140px;
  top:67px;
  width:900px;
  height:680px;
  font-size:16px;
  line-height:36px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:680px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:100px;
  color:#F1F1F1;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:100px;
}
#u36 {
  position:absolute;
  left:2px;
  top:42px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:12px;
  top:381px;
  width:57px;
  height:229px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:229px;
}
#u42 {
  position:absolute;
  left:2px;
  top:106px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1191px;
  top:381px;
  width:51px;
  height:229px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:229px;
}
#u44 {
  position:absolute;
  left:2px;
  top:106px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1090px;
  top:60px;
  width:167px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u46 {
  position:absolute;
  left:10px;
  top:11px;
  width:155px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:79px;
  top:73px;
  width:53px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:63px;
  top:74px;
  width:10px;
  height:12px;
}
#u51_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u51_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u51_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u52 {
  position:absolute;
  left:153px;
  top:73px;
  width:82px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:13px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:138px;
  top:74px;
  width:10px;
  height:12px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u55 {
  position:absolute;
  left:1118px;
  top:20px;
  width:21px;
  height:19px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u56 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1146px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:1047px;
  top:18px;
  width:22px;
  height:25px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1018px;
  top:10px;
  width:10px;
  height:40px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u62 {
  position:absolute;
  left:1060px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u63 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1098px;
  top:10px;
  width:10px;
  height:40px;
}
#u64_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u64_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u64_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u65 {
  position:absolute;
  left:536px;
  top:1185px;
  width:722px;
  height:15px;
  color:#A8B1BB;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:1159px;
  width:1258px;
  height:10px;
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:1241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1258px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:106px;
  width:1260px;
  height:78px;
  overflow:hidden;
}
#u68_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u72 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u74 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u76 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u78 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u79_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u79_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u68_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u83 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u90_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u90_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u68_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u92 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u94 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u96 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u98 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u68_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u107 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u111 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
#u68_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:78px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u114 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u116 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u118 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:60px;
  opacity:0.6;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u120 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:600px;
  top:0px;
  width:150px;
  height:60px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u122 {
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:0px;
  top:54px;
  width:1257px;
  height:10px;
}
#u123_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u123_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
