body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:268px;
  top:330px;
  width:982px;
  height:40px;
  font-size:14px;
  line-height:24px;
}
#u0_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:984px;
  height:42px;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u0_img.mouseDown {
}
#u0.mouseDown {
}
#u1 {
  position:absolute;
  left:2px;
  top:8px;
  width:978px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u2 {
  position:absolute;
  left:11px;
  top:542px;
  width:1246px;
  height:176px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:176px;
}
#u3 {
  position:absolute;
  left:2px;
  top:80px;
  width:1242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:149px;
  width:235px;
  height:331px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:331px;
}
#u5 {
  position:absolute;
  left:2px;
  top:158px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u11 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1039px;
  top:651px;
  width:111px;
  height:21px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:672px;
  top:640px;
  width:102px;
  height:31px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1014px;
  top:650px;
  width:23px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:652px;
  top:650px;
  width:23px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:283px;
  top:609px;
  width:74px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:158px;
  top:603px;
  width:125px;
  height:30px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F52A4E;
  text-align:left;
}
#u24 {
  position:absolute;
  left:29px;
  top:610px;
  width:81px;
  height:16px;
  font-size:16px;
  color:#000000;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:48px;
  top:641px;
  width:49px;
  height:12px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:204px;
  top:749px;
  width:336px;
  height:12px;
  font-size:12px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:318px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:520px;
  top:749px;
  width:100px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#4277A8;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:12px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1086px;
  top:733px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:920px;
  top:733px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#F52A4E;
  line-height:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:29px;
  top:120px;
  width:250px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#333333;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:19px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:798px;
  top:652px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:780px;
  top:650px;
  width:14px;
  height:14px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1180px;
  top:652px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1162px;
  top:650px;
  width:14px;
  height:14px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:112px;
  top:609px;
  width:35px;
  height:18px;
  font-size:16px;
  color:#000000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:18px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:29px;
  top:639px;
  width:14px;
  height:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:79px;
  top:73px;
  width:53px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u56 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:63px;
  top:74px;
  width:10px;
  height:12px;
}
#u57_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u57_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u57_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u58 {
  position:absolute;
  left:153px;
  top:73px;
  width:79px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:138px;
  top:74px;
  width:10px;
  height:12px;
}
#u60_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u60_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u60_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u61 {
  position:absolute;
  left:26px;
  top:747px;
  width:146px;
  height:14px;
  font-size:14px;
  color:#BCBCBC;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:1118px;
  top:20px;
  width:21px;
  height:19px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1146px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#009DD9;
  text-align:center;
  line-height:24px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:1047px;
  top:18px;
  width:22px;
  height:25px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u68 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1018px;
  top:10px;
  width:10px;
  height:40px;
}
#u69_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u69_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u69_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u70 {
  position:absolute;
  left:1060px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u71 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1098px;
  top:10px;
  width:10px;
  height:40px;
}
#u72_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u72_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u72_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u73 {
  position:absolute;
  left:536px;
  top:818px;
  width:722px;
  height:15px;
  color:#A8B1BB;
  text-align:right;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:15px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:790px;
  width:1258px;
  height:10px;
}
#u75_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_end {
  position:absolute;
  left:1241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u75_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1258px;
  height:1px;
}
#u76 {
  position:absolute;
  left:29px;
  top:570px;
  width:91px;
  height:19px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:618px;
  top:153px;
  width:631px;
  height:134px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:134px;
  background-color:#F2F2F2;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u79 {
  position:absolute;
  left:268px;
  top:143px;
  width:318px;
  height:30px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  position:absolute;
  left:268px;
  top:118px;
  width:44px;
  height:25px;
}
#u80_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u81 {
  position:absolute;
  left:267px;
  top:239px;
  width:44px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background-color:transparent;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u82 {
  position:absolute;
  left:268px;
  top:263px;
  width:318px;
  height:30px;
}
#u82_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83 {
  position:absolute;
  left:650px;
  top:610px;
  width:97px;
  height:16px;
  font-size:16px;
  color:#000000;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:30px;
  top:185px;
  width:189px;
  height:255px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:255px;
}
#u86 {
  position:absolute;
  left:2px;
  top:120px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:38px;
  top:233px;
  width:173px;
  height:159px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:159px;
}
#u88 {
  position:absolute;
  left:2px;
  top:72px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:57px;
  top:487px;
  width:141px;
  height:34px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:269px;
  top:183px;
  width:70px;
  height:20px;
  color:#000000;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:268px;
  top:203px;
  width:318px;
  height:30px;
}
#u93_input {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u93_input:disabled {
  color:grayText;
}
#u94 {
  position:absolute;
  left:620px;
  top:127px;
  width:70px;
  height:25px;
}
#u94_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
