body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1261px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1147px;
  top:20px;
  width:21px;
  height:19px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1185px;
  top:20px;
  width:37px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u9 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:520px;
  width:1254px;
  height:188px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1254px;
  height:188px;
}
#u11 {
  position:absolute;
  left:2px;
  top:86px;
  width:1250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:515px;
  width:1254px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1237px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1254px;
  height:1px;
}
#u13 {
  position:absolute;
  left:-10px;
  top:700px;
  width:1264px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:1247px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1264px;
  height:1px;
}
#u14 {
  position:absolute;
  left:64px;
  top:79px;
  width:371px;
  height:329px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:329px;
}
#u15 {
  position:absolute;
  left:2px;
  top:156px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:525px;
  top:85px;
  width:10px;
  height:418px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:401px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:418px;
}
#u17 {
  position:absolute;
  left:558px;
  top:190px;
  width:322px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u18 {
  position:absolute;
  left:558px;
  top:308px;
  width:322px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u19 {
  position:absolute;
  left:40px;
  top:576px;
  width:860px;
  height:126px;
  font-size:14px;
  color:#999999;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:126px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:905px;
  top:620px;
  width:249px;
  height:29px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:29px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:94px;
  top:426px;
  width:156px;
  height:32px;
  color:#F52A4E;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:1px;
  top:718px;
  width:1280px;
  height:896px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:896px;
}
#u25 {
  position:absolute;
  left:2px;
  top:440px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:270px;
  top:420px;
  width:137px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:11px;
  width:135px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:383px;
  top:432px;
  width:14px;
  height:14px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u29 {
  position:absolute;
  left:0px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:-20px;
  top:1578px;
  width:1276px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:877px;
  top:540px;
  width:10px;
  height:150px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:133px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:150px;
}
#u33 {
  position:absolute;
  left:40px;
  top:535px;
  width:65px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:900px;
  top:535px;
  width:33px;
  height:16px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:904px;
  top:579px;
  width:31px;
  height:32px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u38 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:938px;
  top:579px;
  width:31px;
  height:31px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:972px;
  top:578px;
  width:33px;
  height:31px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:31px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1157px;
  top:620px;
  width:70px;
  height:29px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u43_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:72px;
  height:31px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.mouseDown {
}
#u43.mouseDown {
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:66px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u45 {
  position:absolute;
  left:884px;
  top:67px;
  width:370px;
  height:435px;
}
#u45_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:380px;
  height:445px;
}
#u46 {
  position:absolute;
  left:2px;
  top:210px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:867px;
  top:95px;
  width:20px;
  height:16px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:554px;
  top:328px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#2D6CA2;
  line-height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:637px;
  top:328px;
  width:76px;
  height:24px;
  font-size:12px;
  color:#2D6CA2;
  line-height:24px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
}
#u52 {
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:556px;
  top:431px;
  width:165px;
  height:72px;
  font-size:12px;
  color:#999999;
  line-height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:72px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:558px;
  top:156px;
  width:156px;
  height:15px;
  color:#AEAEAE;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:558px;
  top:89px;
  width:204px;
  height:21px;
  font-size:18px;
  color:#2D6CA2;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:558px;
  top:113px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:558px;
  top:135px;
  width:210px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:558px;
  top:272px;
  width:261px;
  height:15px;
  color:#AEAEAE;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:15px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:558px;
  top:208px;
  width:152px;
  height:21px;
  font-size:18px;
  color:#2D6CA2;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:558px;
  top:231px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:558px;
  top:251px;
  width:68px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:1123px;
  top:150px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u71_img.mouseOver {
}
#u71.mouseOver {
}
#u72 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1203px;
  top:160px;
  width:14px;
  height:14px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u74 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:917px;
  top:430px;
  width:34px;
  height:34px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u76 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:917px;
  top:334px;
  width:38px;
  height:38px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u78 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:917px;
  top:250px;
  width:142px;
  height:27px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u80 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:917px;
  top:146px;
  width:130px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:917px;
  top:208px;
  width:322px;
  height:10px;
}
#u83_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u83_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u84 {
  position:absolute;
  left:1123px;
  top:246px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:1203px;
  top:256px;
  width:14px;
  height:14px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u87 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:917px;
  top:300px;
  width:322px;
  height:10px;
}
#u88_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u88_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u89 {
  position:absolute;
  left:1123px;
  top:338px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1203px;
  top:348px;
  width:14px;
  height:14px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u92 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:965px;
  top:344px;
  width:55px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:917px;
  top:400px;
  width:322px;
  height:10px;
}
#u95_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u95_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u96 {
  position:absolute;
  left:965px;
  top:438px;
  width:73px;
  height:19px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1123px;
  top:432px;
  width:100px;
  height:32px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u98_img.mouseOver {
}
#u98.mouseOver {
}
#u99 {
  position:absolute;
  left:0px;
  top:7px;
  width:98px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:1203px;
  top:440px;
  width:14px;
  height:14px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u101 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:917px;
  top:100px;
  width:250px;
  height:25px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
