body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1243px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:231px;
  top:178px;
  width:1012px;
  height:706px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:706px;
}
#u1 {
  position:absolute;
  left:2px;
  top:345px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:100px;
  color:#F1F1F1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-11px;
  top:108px;
  width:250px;
  height:782px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:782px;
}
#u5 {
  position:absolute;
  left:2px;
  top:383px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:249px;
  top:184px;
  width:1010px;
  height:677px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:677px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:238px;
  top:108px;
  width:1021px;
  height:76px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:76px;
}
#u8 {
  position:absolute;
  left:2px;
  top:30px;
  width:1017px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:-20px;
  top:103px;
  width:1276px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1259px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1276px;
  height:1px;
}
#u10 {
  position:absolute;
  left:1106px;
  top:1120px;
  width:148px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:40px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:144px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:990px;
  top:1120px;
  width:106px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#2D6CA2;
  line-height:24px;
}
#u12_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:108px;
  height:42px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:102px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u14 {
  position:absolute;
  left:233px;
  top:108px;
  width:10px;
  height:782px;
}
#u14_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u14_end {
  position:absolute;
  left:-5px;
  top:765px;
  width:20px;
  height:18px;
}
#u14_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:782px;
}
#u15 {
  position:absolute;
  left:250px;
  top:115px;
  width:707px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:28px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:250px;
  top:148px;
  width:684px;
  height:28px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:28px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:10px;
  top:118px;
  width:20px;
  height:21px;
  opacity:0.6;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:-20px;
  top:143px;
  width:258px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:241px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:258px;
  height:1px;
}
#u22 {
  position:absolute;
  left:-11px;
  top:148px;
  width:250px;
  height:52px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:52px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:37px;
  top:123px;
  width:188px;
  height:13px;
  opacity:0.8;
  color:#2D6CA2;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:13px;
  top:166px;
  width:47px;
  height:23px;
  font-size:16px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u27 {
  position:absolute;
  left:0px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:-11px;
  top:199px;
  width:250px;
  height:52px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:52px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:13px;
  top:217px;
  width:47px;
  height:23px;
  font-size:16px;
  color:#666666;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-11px;
  top:250px;
  width:250px;
  height:52px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:52px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:213px;
  top:270px;
  width:18px;
  height:18px;
  opacity:0.2;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u34_img.mouseOver {
}
#u34.mouseOver {
  opacity:0.6;
}
#u35 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:13px;
  top:268px;
  width:47px;
  height:23px;
  font-size:16px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u37 {
  position:absolute;
  left:0px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:213px;
  top:216px;
  width:18px;
  height:18px;
  opacity:0.2;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
  opacity:0.6;
}
#u39 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:213px;
  top:165px;
  width:18px;
  height:18px;
  opacity:0.2;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
  opacity:0.6;
}
#u41 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:-20px;
  top:884px;
  width:1276px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:1259px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1276px;
  height:1px;
}
#u43 {
  position:absolute;
  left:238px;
  top:860px;
  width:1021px;
  height:30px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:1017px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1253px;
  top:108px;
  width:10px;
  height:782px;
}
#u45_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u45_end {
  position:absolute;
  left:-5px;
  top:765px;
  width:20px;
  height:18px;
}
#u45_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:782px;
}
#u46 {
  position:absolute;
  left:1114px;
  top:116px;
  width:66px;
  height:62px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:62px;
}
#u47 {
  position:absolute;
  left:2px;
  top:23px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1184px;
  top:116px;
  width:66px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:24px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:62px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u50 {
  position:absolute;
  left:1098px;
  top:118px;
  width:10px;
  height:58px;
}
#u50_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u50_end {
  position:absolute;
  left:-5px;
  top:41px;
  width:20px;
  height:18px;
}
#u50_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:58px;
}
#u51 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:956px;
  top:60px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1107px;
  top:60px;
  width:150px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:93px;
  top:73px;
  width:467px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:73px;
  top:74px;
  width:10px;
  height:12px;
}
#u61_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u61_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u61_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u62 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u63 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1132px;
  top:20px;
  width:21px;
  height:19px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1162px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u69 {
  position:absolute;
  left:1072px;
  top:18px;
  width:22px;
  height:25px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:1043px;
  top:10px;
  width:10px;
  height:40px;
}
#u71_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u71_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u71_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u72 {
  position:absolute;
  left:1085px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u73 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:141px;
  top:15px;
  width:167px;
  height:33px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#888888;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u75 {
  position:absolute;
  left:0px;
  top:3px;
  width:167px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:878px;
  top:900px;
  width:189px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u76_img.mouseOver {
}
#u76.mouseOver {
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:929px;
  top:908px;
  width:116px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
}
#u79 {
  position:absolute;
  left:2px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1067px;
  top:900px;
  width:189px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
}
#u80_img.mouseOver {
}
#u80.mouseOver {
}
#u81 {
  position:absolute;
  left:2px;
  top:12px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1117px;
  top:908px;
  width:116px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
}
#u83 {
  position:absolute;
  left:2px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1078px;
  top:909px;
  width:32px;
  height:22px;
  opacity:0.5;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u85 {
  position:absolute;
  left:2px;
  top:3px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
