body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:8px;
  top:1067px;
  width:452px;
  height:229px;
}
#u0_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:462px;
  height:239px;
}
#u1 {
  position:absolute;
  left:2px;
  top:106px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-20px;
  top:0px;
  width:480px;
  height:100px;
  color:#F1F1F1;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-20px;
  top:60px;
  width:477px;
  height:40px;
  color:#F1F1F1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:93px;
  top:73px;
  width:67px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:73px;
  top:74px;
  width:10px;
  height:12px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u11 {
  position:absolute;
  left:13px;
  top:10px;
  width:106px;
  height:41px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:8px;
  top:111px;
  width:452px;
  height:229px;
}
#u13_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:462px;
  height:239px;
}
#u14 {
  position:absolute;
  left:2px;
  top:106px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:102px;
  top:148px;
  width:313px;
  height:27px;
  font-size:14px;
  line-height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:27px;
}
#u16 {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:232px;
  top:231px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:408px;
  top:150px;
  width:24px;
  height:24px;
  opacity:0.2;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:25px;
  top:124px;
  width:68px;
  height:95px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u22 {
  position:absolute;
  left:0px;
  top:39px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:102px;
  top:178px;
  width:53px;
  height:30px;
  font-size:18px;
  color:#999999;
  line-height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u24 {
  position:absolute;
  left:0px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:145px;
  top:181px;
  width:90px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:239px;
  top:181px;
  width:63px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u28 {
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:305px;
  top:181px;
  width:53px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:8px;
  top:231px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:335px;
  top:20px;
  width:21px;
  height:19px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:363px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:319px;
  top:10px;
  width:10px;
  height:40px;
}
#u37_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u37_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u37_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u38 {
  position:absolute;
  left:278px;
  top:18px;
  width:22px;
  height:25px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:249px;
  top:10px;
  width:10px;
  height:40px;
}
#u40_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u40_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u40_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u41 {
  position:absolute;
  left:291px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u42 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:8px;
  top:350px;
  width:452px;
  height:229px;
}
#u43_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:462px;
  height:239px;
}
#u44 {
  position:absolute;
  left:2px;
  top:106px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:102px;
  top:387px;
  width:313px;
  height:27px;
  font-size:14px;
  line-height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:27px;
}
#u46 {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:232px;
  top:470px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u48 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:408px;
  top:389px;
  width:24px;
  height:24px;
  opacity:0.2;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:25px;
  top:363px;
  width:68px;
  height:95px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u52 {
  position:absolute;
  left:0px;
  top:39px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:102px;
  top:417px;
  width:53px;
  height:30px;
  font-size:18px;
  color:#999999;
  line-height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u54 {
  position:absolute;
  left:0px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:145px;
  top:420px;
  width:90px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
}
#u56 {
  position:absolute;
  left:2px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:239px;
  top:420px;
  width:63px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:305px;
  top:420px;
  width:53px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  line-height:24px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
}
#u60 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:8px;
  top:470px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u62 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:8px;
  top:589px;
  width:452px;
  height:229px;
}
#u63_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:462px;
  height:239px;
}
#u64 {
  position:absolute;
  left:2px;
  top:106px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:232px;
  top:709px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u65_img.mouseOver {
}
#u65.mouseOver {
}
#u65_img.mouseDown {
}
#u65.mouseDown {
}
#u66 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:8px;
  top:709px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u67_img.mouseOver {
}
#u67.mouseOver {
}
#u67_img.mouseDown {
}
#u67.mouseDown {
}
#u68 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:102px;
  top:626px;
  width:313px;
  height:27px;
  font-size:14px;
  line-height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:27px;
}
#u70 {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:408px;
  top:628px;
  width:24px;
  height:24px;
  opacity:0.2;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u72 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:25px;
  top:602px;
  width:68px;
  height:95px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u74 {
  position:absolute;
  left:0px;
  top:39px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:8px;
  top:828px;
  width:452px;
  height:229px;
}
#u75_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:462px;
  height:239px;
}
#u76 {
  position:absolute;
  left:2px;
  top:106px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:232px;
  top:948px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u77_img.mouseOver {
}
#u77.mouseOver {
}
#u77_img.mouseDown {
}
#u77.mouseDown {
}
#u78 {
  position:absolute;
  left:2px;
  top:34px;
  width:224px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:8px;
  top:948px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u79_img.mouseOver {
}
#u79.mouseOver {
}
#u79_img.mouseDown {
}
#u79.mouseDown {
}
#u80 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:102px;
  top:865px;
  width:313px;
  height:27px;
  font-size:14px;
  line-height:16px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:27px;
}
#u82 {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:408px;
  top:867px;
  width:24px;
  height:24px;
  opacity:0.2;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u84 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:25px;
  top:841px;
  width:68px;
  height:95px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u86 {
  position:absolute;
  left:0px;
  top:39px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:232px;
  top:1187px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:22px;
  width:224px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:8px;
  top:1187px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:102px;
  top:1104px;
  width:313px;
  height:27px;
  font-size:14px;
  line-height:16px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:27px;
}
#u92 {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:408px;
  top:1106px;
  width:24px;
  height:24px;
  opacity:0.2;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u94 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:25px;
  top:1080px;
  width:68px;
  height:95px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u96 {
  position:absolute;
  left:0px;
  top:39px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:8px;
  top:1306px;
  width:452px;
  height:229px;
}
#u97_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:462px;
  height:239px;
}
#u98 {
  position:absolute;
  left:2px;
  top:106px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:232px;
  top:1426px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:24px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u99_img.mouseOver {
}
#u99.mouseOver {
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:224px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:8px;
  top:1426px;
  width:228px;
  height:91px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:18px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:91px;
}
#u101_img.mouseOver {
}
#u101.mouseOver {
}
#u102 {
  position:absolute;
  left:2px;
  top:28px;
  width:224px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:102px;
  top:1343px;
  width:313px;
  height:27px;
  font-size:14px;
  line-height:16px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:27px;
}
#u104 {
  position:absolute;
  left:0px;
  top:5px;
  width:313px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:408px;
  top:1345px;
  width:24px;
  height:24px;
  opacity:0.2;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u106 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:25px;
  top:1319px;
  width:68px;
  height:95px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:95px;
}
#u108 {
  position:absolute;
  left:0px;
  top:39px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
