body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1280px;
  height:2432px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:2432px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1208px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:141px;
  top:15px;
  width:167px;
  height:33px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#888888;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:3px;
  width:167px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1129px;
  top:20px;
  width:21px;
  height:19px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1157px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u10_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u10_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u10_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u11 {
  position:absolute;
  left:1072px;
  top:18px;
  width:22px;
  height:25px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1043px;
  top:10px;
  width:10px;
  height:40px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u14 {
  position:absolute;
  left:1085px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:55px;
  width:1257px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:1240px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1257px;
  height:1px;
}
