body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:239px;
  width:636px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:50px;
}
#u1 {
  position:absolute;
  left:10px;
  top:18px;
  width:616px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:5px;
  width:1238px;
  height:54px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:54px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:550px;
  top:15px;
  width:193px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:920px;
  width:1280px;
  height:74px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:74px;
}
#u7 {
  position:absolute;
  left:2px;
  top:29px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:234px;
  top:956px;
  width:818px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:15px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:398px;
  top:833px;
  width:202px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:198px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:616px;
  top:833px;
  width:202px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:198px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:73px;
  width:1106px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1106px;
  height:50px;
}
#u15 {
  position:absolute;
  left:10px;
  top:17px;
  width:1086px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:500px;
  top:135px;
  width:636px;
  height:45px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:13px;
  width:632px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:500px;
  top:179px;
  width:636px;
  height:60px;
  text-decoration:underline;
  color:#4277A8;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:620px;
  top:192px;
  width:310px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:9px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:623px;
  top:194px;
  width:307px;
  height:31px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:31px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u23 {
  position:absolute;
  left:920px;
  top:192px;
  width:110px;
  height:34px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:34px;
}
#u24 {
  position:absolute;
  left:2px;
  top:11px;
  width:106px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:910px;
  top:194px;
  width:10px;
  height:32px;
}
#u25_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u25_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u25_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u26 {
  position:absolute;
  left:510px;
  top:258px;
  width:270px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:253px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:270px;
  height:1px;
}
#u27 {
  position:absolute;
  left:850px;
  top:258px;
  width:286px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:269px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:286px;
  height:1px;
}
#u28 {
  position:absolute;
  left:22px;
  top:135px;
  width:458px;
  height:648px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:648px;
}
#u29 {
  position:absolute;
  left:2px;
  top:316px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:500px;
  top:278px;
  width:636px;
  height:59px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:59px;
}
#u31 {
  position:absolute;
  left:2px;
  top:20px;
  width:632px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:500px;
  top:329px;
  width:636px;
  height:454px;
  text-decoration:underline;
  color:#4277A8;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:454px;
}
#u33 {
  position:absolute;
  left:2px;
  top:219px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:569px;
  top:353px;
  width:395px;
  height:342px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:342px;
}
#u35 {
  position:absolute;
  left:2px;
  top:163px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:964px;
  top:353px;
  width:96px;
  height:344px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:344px;
}
#u37 {
  position:absolute;
  left:2px;
  top:164px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:530px;
  top:713px;
  width:590px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:573px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:590px;
  height:1px;
}
#u39 {
  position:absolute;
  left:624px;
  top:733px;
  width:26px;
  height:30px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_img.disabled {
}
#u39.disabled {
}
#u40 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:665px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_img.disabled {
}
#u41.disabled {
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:708px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_img.disabled {
}
#u43.disabled {
}
#u44 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:750px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
}
#u45_img.disabled {
}
#u45.disabled {
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:791px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u47_img.mouseOver {
}
#u47.mouseOver {
}
#u47_img.disabled {
}
#u47.disabled {
}
#u48 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:530px;
  top:733px;
  width:78px;
  height:30px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#F2F2F2;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u49_img.disabled {
}
#u49.disabled {
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:833px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u51_img.mouseOver {
}
#u51.mouseOver {
}
#u51_img.disabled {
}
#u51.disabled {
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:874px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u53_img.mouseOver {
}
#u53.mouseOver {
}
#u53_img.disabled {
}
#u53.disabled {
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:916px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u55_img.mouseOver {
}
#u55.mouseOver {
}
#u55_img.disabled {
}
#u55.disabled {
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:959px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u57_img.mouseOver {
}
#u57.mouseOver {
}
#u57_img.disabled {
}
#u57.disabled {
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1000px;
  top:733px;
  width:26px;
  height:30px;
  color:#4277A8;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u59_img.mouseOver {
}
#u59.mouseOver {
}
#u59_img.disabled {
}
#u59.disabled {
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1042px;
  top:733px;
  width:78px;
  height:30px;
  color:#4277A8;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u61_img.mouseOver {
}
#u61.mouseOver {
}
#u61_img.disabled {
}
#u61.disabled {
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
