body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:99px;
  width:1256px;
  height:771px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1256px;
  height:771px;
}
#u1 {
  position:absolute;
  left:2px;
  top:378px;
  width:1252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:114px;
  width:564px;
  height:251px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:251px;
}
#u3 {
  position:absolute;
  left:2px;
  top:118px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:100px;
  color:#F1F1F1;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:100px;
}
#u5 {
  position:absolute;
  left:2px;
  top:42px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:93px;
  top:73px;
  width:117px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:13px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:73px;
  top:74px;
  width:10px;
  height:12px;
}
#u12_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u12_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u12_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u13 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:1132px;
  top:20px;
  width:21px;
  height:19px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1162px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u19_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u19_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u19_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u20 {
  position:absolute;
  left:1072px;
  top:18px;
  width:22px;
  height:25px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1043px;
  top:10px;
  width:10px;
  height:40px;
}
#u22_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u22_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u22_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u23 {
  position:absolute;
  left:1085px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:141px;
  top:15px;
  width:167px;
  height:33px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#888888;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u26 {
  position:absolute;
  left:0px;
  top:3px;
  width:167px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:662px;
  top:161px;
  width:461px;
  height:37px;
  font-size:20px;
  color:#000000;
  line-height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:100px;
  top:177px;
  width:117px;
  height:164px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:164px;
}
#u30 {
  position:absolute;
  left:2px;
  top:74px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:253px;
  width:56px;
  height:80px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:80px;
}
#u32 {
  position:absolute;
  left:2px;
  top:32px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:664px;
  top:253px;
  width:70px;
  height:40px;
  font-size:28px;
  color:#F22A50;
  line-height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u34 {
  position:absolute;
  left:0px;
  top:12px;
  width:70px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:630px;
  top:137px;
  width:10px;
  height:340px;
}
#u35_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u35_end {
  position:absolute;
  left:-5px;
  top:323px;
  width:20px;
  height:18px;
}
#u35_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:340px;
}
#u36 {
  position:absolute;
  left:240px;
  top:150px;
  width:267px;
  height:167px;
  font-size:12px;
  color:#888888;
  line-height:14px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:167px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:659px;
  top:133px;
  width:80px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:743px;
  top:133px;
  width:80px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:662px;
  top:194px;
  width:60px;
  height:20px;
  font-size:16px;
  color:#888888;
  line-height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:662px;
  top:343px;
  width:461px;
  height:37px;
  font-size:12px;
  color:#000000;
  line-height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:37px;
}
#u45 {
  position:absolute;
  left:0px;
  top:10px;
  width:461px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:662px;
  top:370px;
  width:248px;
  height:20px;
  font-size:12px;
  color:#888888;
  line-height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:20px;
}
#u47 {
  position:absolute;
  left:0px;
  top:2px;
  width:248px;
  word-wrap:break-word;
}
