body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:100px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:1163px;
  width:1280px;
  height:74px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:234px;
  top:1199px;
  width:818px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:290px;
  top:411px;
  width:180px;
  height:64px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:460px;
  top:411px;
  width:466px;
  height:64px;
  text-decoration:underline;
  color:#4277A8;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:64px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:440px;
  top:419px;
  width:20px;
  height:18px;
  font-size:16px;
  color:#F22E52;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:469px;
  width:636px;
  height:41px;
  text-decoration:underline;
  color:#4277A8;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:41px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:472px;
  top:485px;
  width:303px;
  height:12px;
  font-size:12px;
}
#u15 {
  position:absolute;
  left:16px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u14_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16 {
  position:absolute;
  left:770px;
  top:441px;
  width:125px;
  height:19px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:290px;
  top:537px;
  width:170px;
  height:60px;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:20px;
  width:166px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:459px;
  top:537px;
  width:467px;
  height:60px;
  text-decoration:underline;
  color:#4277A8;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:290px;
  top:390px;
  width:636px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u23 {
  position:absolute;
  left:290px;
  top:514px;
  width:636px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u24 {
  position:absolute;
  left:472px;
  top:429px;
  width:293px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:center;
}
#u25 {
  position:absolute;
  left:290px;
  top:624px;
  width:170px;
  height:149px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#888888;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:149px;
}
#u26 {
  position:absolute;
  left:2px;
  top:66px;
  width:166px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:459px;
  top:624px;
  width:467px;
  height:149px;
  text-decoration:underline;
  color:#4277A8;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:149px;
}
#u28 {
  position:absolute;
  left:2px;
  top:66px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:472px;
  top:651px;
  width:380px;
  height:16px;
  font-size:14px;
  color:#888888;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:290px;
  top:827px;
  width:636px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u32 {
  position:absolute;
  left:290px;
  top:607px;
  width:636px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u33 {
  position:absolute;
  left:400px;
  top:850px;
  width:375px;
  height:14px;
  font-size:14px;
  color:#888888;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:755px;
  top:850px;
  width:120px;
  height:14px;
  font-size:14px;
  text-decoration:underline;
  color:#4277A8;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:627px;
  top:880px;
  width:202px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:22px;
  width:198px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:290px;
  top:218px;
  width:636px;
  height:162px;
  font-size:14px;
  text-align:left;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:162px;
}
#u41 {
  position:absolute;
  left:15px;
  top:73px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:460px;
  top:217px;
  width:466px;
  height:163px;
  font-size:18px;
  color:#888888;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:163px;
}
#u43 {
  position:absolute;
  left:2px;
  top:74px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:330px;
  top:236px;
  width:90px;
  height:127px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:127px;
}
#u45 {
  position:absolute;
  left:2px;
  top:56px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:471px;
  top:558px;
  width:39px;
  height:14px;
  font-size:14px;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:472px;
  top:703px;
  width:380px;
  height:48px;
  font-size:14px;
  color:#888888;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:441px;
  top:542px;
  width:20px;
  height:18px;
  font-size:16px;
  color:#F22E52;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:290px;
  top:772px;
  width:636px;
  height:45px;
  text-decoration:underline;
  color:#4277A8;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:45px;
}
#u53 {
  position:absolute;
  left:2px;
  top:14px;
  width:632px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:290px;
  top:110px;
  width:636px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:50px;
}
#u55 {
  position:absolute;
  left:10px;
  top:18px;
  width:616px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:582px;
  top:654px;
  width:300px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:12px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:290px;
  top:170px;
  width:636px;
  height:48px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:48px;
}
#u60 {
  position:absolute;
  left:15px;
  top:16px;
  width:619px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:788px;
  top:180px;
  width:130px;
  height:29px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:588px;
  top:558px;
  width:39px;
  height:14px;
  font-size:14px;
}
#u64 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u63_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u65 {
  position:absolute;
  left:622px;
  top:739px;
  width:72px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:12px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:472px;
  top:288px;
  width:337px;
  height:21px;
  font-size:18px;
  color:#888888;
  text-align:center;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:21px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:592px;
  top:787px;
  width:108px;
  height:12px;
  font-size:12px;
  color:#888888;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:701px;
  top:787px;
  width:69px;
  height:12px;
  font-size:12px;
  color:#888888;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:473px;
  top:787px;
  width:109px;
  height:12px;
  font-size:12px;
  color:#888888;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:12px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:93px;
  top:73px;
  width:117px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:13px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u81 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:73px;
  top:74px;
  width:10px;
  height:12px;
}
#u82_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u82_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u82_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u83 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1132px;
  top:20px;
  width:21px;
  height:19px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1162px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u89_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u89_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u89_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u90 {
  position:absolute;
  left:1072px;
  top:18px;
  width:22px;
  height:25px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u91 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:1043px;
  top:10px;
  width:10px;
  height:40px;
}
#u92_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u92_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u92_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u93 {
  position:absolute;
  left:1085px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:141px;
  top:15px;
  width:167px;
  height:33px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:26px;
  color:#888888;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u96 {
  position:absolute;
  left:0px;
  top:3px;
  width:167px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:417px;
  top:880px;
  width:202px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#2D6CA2;
  line-height:24px;
}
#u97_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:204px;
  height:62px;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
}
#u98 {
  position:absolute;
  left:2px;
  top:18px;
  width:198px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
