body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-20px;
  top:0px;
  width:1277px;
  height:65px;
  color:#F1F1F1;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:65px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:29px;
  top:10px;
  width:106px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:-20px;
  top:55px;
  width:1277px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:1260px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1277px;
  height:1px;
}
#u5 {
  position:absolute;
  left:-20px;
  top:60px;
  width:1277px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:93px;
  top:73px;
  width:117px;
  height:13px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  color:#333333;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:29px;
  top:70px;
  width:40px;
  height:20px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  text-decoration:underline;
  color:#2D6CA2;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:73px;
  top:74px;
  width:10px;
  height:12px;
}
#u11_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u11_end {
  position:absolute;
  left:-5px;
  top:-5px;
  width:20px;
  height:18px;
}
#u11_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:12px;
}
#u12 {
  position:absolute;
  left:-20px;
  top:975px;
  width:1276px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:1276px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1129px;
  top:20px;
  width:21px;
  height:19px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1157px;
  top:20px;
  width:94px;
  height:24px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:1113px;
  top:10px;
  width:10px;
  height:40px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u19 {
  position:absolute;
  left:1072px;
  top:18px;
  width:22px;
  height:25px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1043px;
  top:10px;
  width:10px;
  height:40px;
}
#u21_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u21_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u21_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u22 {
  position:absolute;
  left:1085px;
  top:12px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:80px;
  top:161px;
  width:403px;
  height:357px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:357px;
}
#u25 {
  position:absolute;
  left:2px;
  top:170px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:106px;
  top:544px;
  width:102px;
  height:30px;
  color:#AEAEAE;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:106px;
  top:578px;
  width:204px;
  height:21px;
  font-size:18px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:106px;
  top:602px;
  width:121px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:106px;
  top:624px;
  width:210px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:500px;
  top:120px;
  width:710px;
  height:633px;
}
#u34_img {
  position:absolute;
  left:-2px;
  top:0px;
  width:720px;
  height:643px;
}
#u35 {
  position:absolute;
  left:2px;
  top:308px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:939px;
  top:529px;
  width:34px;
  height:34px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u37 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:939px;
  top:441px;
  width:38px;
  height:38px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:576px;
  top:543px;
  width:142px;
  height:27px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:27px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:576px;
  top:439px;
  width:130px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:987px;
  top:451px;
  width:55px;
  height:21px;
  font-size:18px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:987px;
  top:537px;
  width:73px;
  height:19px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
  color:#999999;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1140px;
  top:460px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1122px;
  top:458px;
  width:14px;
  height:14px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:530px;
  top:335px;
  width:145px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:907px;
  top:540px;
  width:23px;
  height:16px;
}
#u56 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u57 {
  position:absolute;
  left:907px;
  top:452px;
  width:23px;
  height:16px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:542px;
  top:547px;
  width:23px;
  height:16px;
}
#u60 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u61 {
  position:absolute;
  left:542px;
  top:457px;
  width:23px;
  height:16px;
}
#u62 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u63 {
  position:absolute;
  left:98px;
  top:527px;
  width:362px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:345px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:362px;
  height:1px;
}
#u64 {
  position:absolute;
  left:915px;
  top:231px;
  width:103px;
  height:20px;
  font-size:14px;
  text-align:left;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u65 {
  position:absolute;
  left:2px;
  top:3px;
  width:99px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:1023px;
  top:233px;
  width:39px;
  height:14px;
  font-size:14px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:1141px;
  top:233px;
  width:39px;
  height:14px;
  font-size:14px;
}
#u69 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u68_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u70 {
  position:absolute;
  left:542px;
  top:383px;
  width:118px;
  height:18px;
  font-size:16px;
}
#u71 {
  position:absolute;
  left:16px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u70_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u72 {
  position:absolute;
  left:476px;
  top:278px;
  width:28px;
  height:23px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u73 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:766px;
  top:211px;
  width:19px;
  height:19px;
  font-size:18px;
  color:#F52A4E;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:630px;
  top:200px;
  width:125px;
  height:30px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#F52A4E;
  text-align:left;
}
#u77 {
  position:absolute;
  left:530px;
  top:207px;
  width:91px;
  height:19px;
  font-size:18px;
  color:#F52A4E;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:530px;
  top:242px;
  width:301px;
  height:26px;
  font-size:12px;
  color:#999999;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:26px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:520px;
  top:603px;
  width:680px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:663px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:680px;
  height:1px;
}
#u82 {
  position:absolute;
  left:609px;
  top:643px;
  width:375px;
  height:14px;
  font-size:14px;
  color:#888888;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:970px;
  top:643px;
  width:120px;
  height:14px;
  font-size:14px;
  text-decoration:underline;
  color:#4277A8;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:14px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:875px;
  top:693px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:18px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u87_img.mouseOver {
}
#u87.mouseOver {
}
#u88 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:701px;
  top:693px;
  width:164px;
  height:40px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#F52A4E;
  line-height:18px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u89_img.mouseOver {
}
#u89.mouseOver {
}
#u90 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:530px;
  top:153px;
  width:250px;
  height:25px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  color:#333333;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:530px;
  top:307px;
  width:650px;
  height:10px;
}
#u93_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u93_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u94 {
  position:absolute;
  left:850px;
  top:200px;
  width:10px;
  height:103px;
}
#u94_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u94_end {
  position:absolute;
  left:-5px;
  top:86px;
  width:20px;
  height:18px;
}
#u94_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:103px;
}
#u95 {
  position:absolute;
  left:850px;
  top:439px;
  width:10px;
  height:142px;
}
#u95_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u95_end {
  position:absolute;
  left:-5px;
  top:125px;
  width:20px;
  height:18px;
}
#u95_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:142px;
}
#u96 {
  position:absolute;
  left:784px;
  top:455px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:766px;
  top:453px;
  width:14px;
  height:14px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u100 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:784px;
  top:544px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:766px;
  top:542px;
  width:14px;
  height:14px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u105 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:1140px;
  top:544px;
  width:60px;
  height:12px;
  font-size:12px;
  text-decoration:underline;
  color:#888888;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:12px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1122px;
  top:542px;
  width:14px;
  height:14px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u110 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
