body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:550px;
  top:15px;
  width:193px;
  height:33px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:0px;
  top:840px;
  width:1280px;
  height:74px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:74px;
}
#u3 {
  position:absolute;
  left:2px;
  top:29px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:234px;
  top:876px;
  width:818px;
  height:15px;
  color:#666666;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:290px;
  top:151px;
  width:180px;
  height:64px;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:460px;
  top:151px;
  width:466px;
  height:64px;
  text-decoration:underline;
  color:#4277A8;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:64px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:906px;
  top:156px;
  width:20px;
  height:18px;
  font-size:16px;
  color:#F22E52;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:130px;
  width:636px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u13 {
  position:absolute;
  left:480px;
  top:166px;
  width:370px;
  height:31px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u14 {
  position:absolute;
  left:398px;
  top:760px;
  width:202px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:198px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:616px;
  top:760px;
  width:202px;
  height:60px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:290px;
  top:73px;
  width:636px;
  height:50px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:50px;
}
#u19 {
  position:absolute;
  left:10px;
  top:18px;
  width:616px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:290px;
  top:210px;
  width:180px;
  height:64px;
  font-size:18px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u21 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:460px;
  top:210px;
  width:466px;
  height:64px;
  text-decoration:underline;
  color:#4277A8;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:64px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:480px;
  top:226px;
  width:370px;
  height:31px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u25 {
  position:absolute;
  left:290px;
  top:336px;
  width:180px;
  height:257px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:257px;
}
#u26 {
  position:absolute;
  left:2px;
  top:119px;
  width:176px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:460px;
  top:336px;
  width:466px;
  height:257px;
  text-decoration:underline;
  color:#4277A8;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:257px;
}
#u28 {
  position:absolute;
  left:2px;
  top:120px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:480px;
  top:353px;
  width:370px;
  height:220px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:220px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:290px;
  top:273px;
  width:180px;
  height:64px;
  font-size:18px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:460px;
  top:273px;
  width:466px;
  height:64px;
  text-decoration:underline;
  color:#4277A8;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:64px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:480px;
  top:289px;
  width:370px;
  height:31px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u35 {
  position:absolute;
  left:290px;
  top:606px;
  width:180px;
  height:64px;
  font-size:18px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u36 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:460px;
  top:606px;
  width:466px;
  height:64px;
  text-decoration:underline;
  color:#4277A8;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:64px;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:290px;
  top:669px;
  width:180px;
  height:64px;
  font-size:18px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:64px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:176px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:460px;
  top:669px;
  width:466px;
  height:64px;
  text-decoration:underline;
  color:#4277A8;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:64px;
}
#u42 {
  position:absolute;
  left:2px;
  top:24px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:29px;
  top:15px;
  width:106px;
  height:41px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:41px;
}
#u44 {
  position:absolute;
  left:2px;
  top:12px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:18px;
  top:63px;
  width:1238px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:1221px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1238px;
  height:1px;
}
#u46 {
  position:absolute;
  left:150px;
  top:18px;
  width:220px;
  height:40px;
  font-family:'STHeitiTC-Medium', 'Heiti TC Medium', 'Heiti TC';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#BB8755;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
